<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185506857147-jfishs42pddg383ctsqn0628h9fa6geh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185506857147-jfishs42pddg383ctsqn0628h9fa6geh</string>
	<key>API_KEY</key>
	<string>AIzaSyAap0jXsRLPB6O8vD13IPkAHw85U0jwwnw</string>
	<key>GCM_SENDER_ID</key>
	<string>185506857147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atak.apps.obs</string>
	<key>PROJECT_ID</key>
	<string>ogrencibilgisistemi-f353c</string>
	<key>STORAGE_BUCKET</key>
	<string>ogrencibilgisistemi-f353c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185506857147:ios:1e27817cc590501037699e</string>
	<key>DATABASE_URL</key>
	<string>https://ogrencibilgisistemi-f353c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>